#root {
  width: 400px;
  font-family: Verdana;
  color: aliceblue;
  background-color: rgb(2, 3, 51);
  padding: 5px;
}

.note {
  font-size: small;
}

.header {
  display: inline;
}

.green {
  color: green;
}

.red {
  color: red;
}

.white {
  color: white;
}